<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Forest OA System</title>
    <link href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.2.0/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/ForestOASystem/Content/font-awesome.css" rel="stylesheet">
    <link href="/ForestOASystem/Content/style_v1.css" rel="stylesheet">
    <link href="/ForestOASystem/Content/ManageEmployee.css" rel="stylesheet">
</head>
<body>
    <div id="main" class="container-fluid">
        <div class="row">
            <!--Start Sidebar-->
            <div id="sidebar-left" class="col-xs-2 col-sm-2">
                <ul class="nav main-menu">
                    <li>
                        <a href="employee_master.html" class="ajax-link">
                            <i class="icon-group"></i>
                            <span class="hidden-xs">社員マスター</span>
                        </a>
                    </li>
                    <li>
                        <a href="customer.html" class="ajax-link">
                            <i class="icon-tags"></i>
                            <span class="hidden-xs">取引先マスター</span>
                        </a>
                    </li>
                    <li>
                        <a href="/Setting" class="ajax-link">
                            <i class="icon-pencil"></i>
                            <span class="hidden-xs">受注</span>
                        </a>
                    </li>

                    <li>
                        <a href="/Template" class="ajax-link">
                            <i class="icon-list-alt"></i>
                            <span class="hidden-xs">発注</span>
                        </a>
                    </li>
                </ul>
            </div>
            <!--End Sidebar-->
            <!--Start Content-->
            <div id="content" class="col-xs-12 col-sm-10">
                <div id="ajax-content">

                    <div id="datalist-home" data-role="page" class="">
                        <div class="panel panel-default">
                            <!-- Default panel contents -->
                            <div class="panel-heading">
                                <i class="icon-user"></i> <span id="table-title">社員マスター</span>
                            </div>
                            <div class="panel-body">
                            </div>
                            <!-- Table -->
                            <table id="datalist" class="table">
                                <div class="form-group">
                                    <label class="employee-info-lable">社員ID</label>
                                    <input type="text" value="" style="margin-left: 30px;" disabled="disabled">
                                </div>
                                <div class="form-group">
                                    <label class="class="employee-info-lable"" style="margin-left: 20px; width: 130px;">名前</label>
                                    <input type="text" value="" style="margin-left: 30px;">
                                </div>
                                <div class="form-group">
                                    <label class="class="employee-info-lable"" style="margin-left: 20px; width: 130px;">社員区分</label>
                                    <select class="" style="margin-left: 30px; width:182.6px;height:26px">
                                        <option value="0" selected="selected">区分1</option>
                                        <option value="1">区分2</option>
                                        <option value="2">区分3</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label class="class="employee-info-lable"" style="margin-left: 20px; width: 130px;">ロール</label>
                                    <select class="" style="margin-left: 30px; width:182.6px;height:26px">
                                        <option value="0" selected="selected">ロール1</option>
                                        <option value="1">ロール2</option>
                                        <option value="2">ロール3</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label class="class="employee-info-lable"" style="margin-left: 20px; width: 130px;">社用メールアドレス</label>
                                    <input type="text" value="" style="margin-left: 30px;">
                                </div>
                                <div class="form-group">
                                    <label class="class="employee-info-lable"" style="margin-left: 20px; width: 130px;">個人メールアドレス</label>
                                    <input type="text" value="" style="margin-left: 30px;">
                                </div>
                                <div class="form-group">
                                    <label class="class="employee-info-lable"" style="margin-left: 20px; width: 130px;">社用携帯</label>
                                    <input type="text" value="" style="margin-left: 30px;">
                                </div>
                                <div class="form-group">
                                    <label class="class="employee-info-lable"" style="margin-left: 20px; width: 130px;">個人用携帯</label>
                                    <input type="text" value="" style="margin-left: 30px;">
                                </div>
                                <div class="text-center" style="margin-bottom: 10px;">
                                    <button type="submit" class="btn btn-primary">登録</button>
                                    <a href="employee_master.html" class="btn btn-default">取消</a>
                                </div>
                            </table>
                        </div>
                    </div>
                </div>
                <!--End Content-->
            </div>
        </div>
    </div>
</body>
</html>