<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Forest OA System</title>
    <link href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.2.0/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/ForestOASystem/Content/font-awesome.css" rel="stylesheet">
    <link href="/ForestOASystem/Content/style_v1.css" rel="stylesheet">
    <link href="/ForestOASystem/Content/ManageEmployee.css" rel="stylesheet">
</head>
<body>
    <!--Start header-->
    <header class="navbar">
        <div class="container-fluid expanded-panel">
            <div class="row">
                <div id="top-panel" class="col-xs-12 col-sm-12">
                    <div class="row">
                        <div class="col-xs-8 col-sm-2">
                            <div class="systemName">Forest OA System</div>
                        </div>
                        <div class="col-xs-4 col-sm-10 top-panel-right">
                            <div class="loginUserName">
                                <span>admin</span>
                                <i class="icon-angle-down pull-right" style="margin-top: 20px;"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!--End header-->
    <div id="main" class="container-fluid">
        <div class="row">
            <!--Start Sidebar-->
            <div id="sidebar-left" class="col-xs-2 col-sm-2">
                <ul class="nav main-menu">
                    <li>
                        <a href="employee_master.html" class="ajax-link">
                            <i class="icon-group"></i>
                            <span class="hidden-xs">社員マスター</span>
                        </a>
                    </li>
                    <li>
                        <a href="customer_master.html" class="ajax-link">
                            <i class="icon-tags"></i>
                            <span class="hidden-xs">取引先マスター</span>
                        </a>
                    </li>
                    <li>
                        <a href="receive_order_list.html" class="ajax-link">
                            <i class="icon-pencil"></i>
                            <span class="hidden-xs">受注</span>
                        </a>
                    </li>

                    <li>
                        <a href="send_order_list.html" class="ajax-link">
                            <i class="icon-list-alt"></i>
                            <span class="hidden-xs">発注</span>
                        </a>
                    </li>

                    <li>
                        <a href="operation_list.html" class="ajax-link">
                            <i class="icon-th-list"></i>
                            <span class="hidden-xs">稼働明細一覧</span>
                        </a>
                    </li>
                </ul>
            </div>
            <!--End Sidebar-->
            <!--Start Content-->
            <div id="content" class="col-xs-12 col-sm-10">
                <div id="ajax-content">

                    <div id="datalist-home" data-role="page" class="">
                        <div class="panel panel-default">
                            <!-- Default panel contents -->
                            <div class="panel-heading">
                                <i class="icon-user"></i> <span id="table-title">社員マスター</span>
                            </div>
                            <div class="panel-body">
                                <!-- Table -->
                                <table id="datalist" class="table">
                                    <div class="form-group">
                                        <label class="employee-info-lable">社員番号</label>
                                        <input class="employee-info-input" type="text" value="" disabled="disabled">
                                    </div>
                                    <div class="form-group">
                                        <label class="employee-info-lable">名前</label>
                                        <span class="employee-info-name">姓：</span><input class="employee-info-name-input" type="text"><span style="margin-left:10px">名：</span><input class="employee-info-name-input" type="text">
                                    </div>
                                    <div class="form-group">
                                        <label class="employee-info-lable">名前（カナ）</label>
                                        <span class="employee-info-name">姓：</span><input class="employee-info-name-input" type="text"><span style="margin-left:10px">名：</span><input class="employee-info-name-input" type="text">
                                    </div>
                                    <div class="form-group">
                                        <label class="employee-info-lable">パスワード</label>
                                        <input class="employee-info-input" type="text" value="">
                                    </div>
                                    <div class="form-group">
                                        <label class="employee-info-lable">社員区分</label>
                                        <select class="employee-info-select">
                                            <option value="0" selected="selected">区分1</option>
                                            <option value="1">区分2</option>
                                            <option value="2">区分3</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label class="employee-info-lable">所属取引先(BP)</label>
                                        <select class="employee-info-select">
                                            <option value="0" selected="selected">取引先1</option>
                                            <option value="1">取引先2</option>
                                            <option value="2">取引先3</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label class="employee-info-lable">ロール</label>
                                        <select class="employee-info-select">
                                            <option value="0" selected="selected">ロール1</option>
                                            <option value="1">ロール2</option>
                                            <option value="2">ロール3</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label class="employee-info-lable">社用メールアドレス</label>
                                        <input class="employee-info-input" type="text" value="">
                                    </div>
                                    <div class="form-group">
                                        <label class="employee-info-lable">個人メールアドレス</label>
                                        <input class="employee-info-input" type="text" value="">
                                    </div>
                                    <div class="form-group">
                                        <label class="employee-info-lable">社用携帯</label>
                                        <input class="employee-info-input" type="text" value="">
                                    </div>
                                    <div class="form-group">
                                        <label class="employee-info-lable" style="margin-left: 20px; width: 130px;">個人用携帯</label>
                                        <input class="employee-info-input" value="">
                                    </div>
                                    <div class="form-group">
                                        <label class="employee-info-lable" style="margin-left: 20px; width: 130px;">住所</label>
                                        <input class="employee-info-input" value="">
                                    </div>
                                    <div class="form-group">
                                        <label class="employee-info-lable" style="margin-left: 20px; width: 130px;">有給</label>
                                        <input class="employee-info-input" value="">
                                    </div>
                                    <div class="form-group">
                                        <label class="employeer-info-memo-label">備考</label>
                                        <textarea type="text" value=""></textarea>
                                    </div>
                                    <div class="text-center" style="margin-bottom: 10px;">
                                        <button type="submit" class="btn btn-primary">登録</button>
                                        <a href="employee_master.html" class="btn btn-default">取消</a>
                                    </div>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End Content-->
            </div>
        </div>
    </div>
</body>
</html>