<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Forest OA System</title>
    <link href="/ForestOASystem/Content/Site.css" rel="stylesheet">
    <link href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.2.0/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/ForestOASystem/Content/font-awesome.css" rel="stylesheet">
    <link href="/ForestOASystem/Content/style_v1.css" rel="stylesheet">
    <link href="/ForestOASystem/Content/ManageEmployee.css" rel="stylesheet">
</head>
<body>
    <!--Start header-->
    <header class="navbar">
        <div class="container-fluid expanded-panel">
            <div class="row">
                <div id="top-panel" class="col-xs-12 col-sm-12">
                    <div class="row">
                        <div class="col-xs-8 col-sm-2">
                            <div class="systemName">Forest OA System</div>
                        </div>
                        <div class="col-xs-4 col-sm-10 top-panel-right">
                            <div class="loginUserName">
                            <span>admin</span>
                            <i class="icon-angle-down pull-right" style="margin-top: 20px;"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!--End header-->
    <!--Start Container-->
    <div id="main" class="container-fluid">
        <div class="row">
            <div id="sidebar-left" class="col-xs-2 col-sm-2">
                <ul class="nav main-menu">
                    <li>
                        <a href="employee_master.html" class="ajax-link">
                            <i class="icon-group"></i>
                            <span class="hidden-xs">社員マスター</span>
                        </a>
                    </li>
                    <li>
                        <a href="customer_master.html" class="ajax-link">
                            <i class="icon-tags"></i>
                            <span class="hidden-xs">取引先マスター</span>
                        </a>
                    </li>
                    <li>
                        <a href="/Setting" class="ajax-link">
                            <i class="icon-pencil"></i>
                            <span class="hidden-xs">受注</span>
                        </a>
                    </li>

                    <li>
                        <a href="/Template" class="ajax-link">
                            <i class="icon-list-alt"></i>
                            <span class="hidden-xs">発注</span>
                        </a>
                    </li>
                </ul>
            </div>
            <!--Start Content-->
            <div id="content" class="col-xs-12 col-sm-10">
                <div id="ajax-content">

                    <div id="datalist-home" data-role="page" class="">
                        <div class="panel panel-default">
                            <!-- Default panel contents -->
                            <div class="panel-heading">
                                <i class="icon-user"></i> <span id="table-title">社員マスター</span>
                                <div class="titlemenu-area">
                                    <a href="employee_regist.html"><i class="icon-plus"></i>&nbsp;<span class="head-menu">Add</span></a>
                                </div>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div id="filter-area" class="input-group">
                                        <span class="input-group-addon"><i class="icon-search"></i></span>
                                        <input id="filter-username" title="" class="form-control" type="text" placeholder="Search Employee Name..." data-original-title="">
                                    </div>
                                </div>
                            </div>
                            <!-- Table -->
                            <table id="datalist" class="table">

                                <thead>
                                    <tr>
                                        <th>社員番号</th>
                                        <th>名前</th>
                                        <th>社員区分</th>
                                        <th>ロール</th>
                                        <th>社用メールアドレス</th>
                                        <th>個人メールアドレス</th>
                                        <th>社用携帯</th>
                                        <th>個人用携帯</th>
                                        <th>アクション</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>000001</td>
                                        <td>李</td>
                                        <td>区分1</td>
                                        <td>ロール1</td>
                                        <td>123@123.com</td>
                                        <td>123@123.com</td>
                                        <td>123456</td>
                                        <td>123456</td>
                                        <td>
                                            <a href="employee_regist.html"><button type="button" class="btn-success btn-sm"><i class="icon-pencil"></i>Change</button></a>
                                            <button type="button" class="btn-danger btn-sm"><i class="icon-trash"></i> Delete</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>000002</td>
                                        <td>趙</td>
                                        <td>区分1</td>
                                        <td>ロール1</td>
                                        <td>123@123.com</td>
                                        <td>123@123.com</td>
                                        <td>123456</td>
                                        <td>123456</td>
                                        <td>
                                            <a href="employee_regist.html"><button type="button" class="btn-success btn-sm"><i class="icon-pencil"></i>Change</button></a>
                                            <button type="button" class="btn-danger btn-sm"><i class="icon-trash"></i> Delete</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!--End Content-->
            </div>
        </div>
    </div>
</body>
</html>