<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Forest OA System</title>
    <link href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.2.0/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/ForestOASystem/Content/font-awesome.css" rel="stylesheet">
    <link href="/ForestOASystem/Content/style_v1.css" rel="stylesheet">
    <link href="/ForestOASystem/Content/ManageOperation.css" rel="stylesheet">
</head>
<body>
	<!--Start header-->
	<header class="navbar">
	    <div class="container-fluid expanded-panel">
	        <div class="row">
	            <div id="top-panel" class="col-xs-12 col-sm-12">
	                <div class="row">
	                    <div class="col-xs-8 col-sm-2">
	                        <div class="systemName">Forest OA System</div>
	                    </div>
	                    <div class="col-xs-4 col-sm-10 top-panel-right">
	                        <div class="loginUserName">
	                            <span>admin</span>
	                            <i class="icon-angle-down pull-right" style="margin-top: 20px;"></i>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	</header>
    <div id="main" class="container-fluid">
        <div class="row">
            <!--Start Sidebar-->
            <div id="sidebar-left" class="col-xs-2 col-sm-2">
				<ul class="nav main-menu">
					<li>
						<a href="employee_master.html" class="ajax-link">
							<i class="icon-group"></i>
							<span class="hidden-xs">社員マスター</span>
						</a>
					</li>
					<li>
						<a href="customer_master.html" class="ajax-link">
							<i class="icon-tags"></i>
							<span class="hidden-xs">取引先マスター</span>
						</a>
					</li>
					<li>
						<a href="receive_order_list.html" class="ajax-link">
							<i class="icon-pencil"></i>
							<span class="hidden-xs">受注</span>
						</a>
					</li>

					<li>
						<a href="send_order_list.html class="ajax-link">
							<i class="icon-list-alt"></i>
							<span class="hidden-xs">発注</span>
						</a>
					</li>

					<li>
						<a href="operation_list.html" class="ajax-link">
							<i class="icon-th-list"></i>
							<span class="hidden-xs">稼働明細一覧</span>
						</a>
					</li>
				</ul>
            </div>
            <!--End Sidebar-->
            <!--Start Content-->
            <div id="content" class="col-xs-12 col-sm-10">
                <div id="ajax-content">

                    <div id="datalist-home" data-role="page" class="">
                        <div class="panel panel-default">
                            <!-- Default panel contents -->
                            <div class="panel-heading">
                                <i class="icon-th-list"></i>&nbsp;<span id="table-title">稼働明細照会</span>
                            </div>
                            <div class="panel-body">
                            </div>
                            <!-- Div -->
                            <div class="oper-div">
                                <div class="form-group">
                                    <label class="oper-info-lable">技術者氏名</label>
                                    <input class="oper-control oper-control-border" type="text" value="技術者 一郎" disabled="disabled" />
                                </div>
                                <div class="form-group">
                                    <label class="oper-info-lable">所属会社</label>
                                    <input class="oper-control oper-control-border" type="text" value="Forest 株式会社" disabled="disabled" />
                                </div>
								<div class="form-group">
								    <label class="oper-info-lable">派遣先取引先</label>
								    <input class="oper-control oper-control-border" type="text" value="XXXXXXX 株式会社" disabled="disabled" />
								</div>
								<div class="form-group">
								    <label class="oper-info-lable">稼働年月</label>
								    <input class="oper-control oper-control-border" type="text" value="２０２１年６月"  disabled="disabled"/>
								</div>
								<!-- select multiple -->
								<div class="row">
									<div class="col-sm-6">
										<div class="form-group">
											<table class="table oper-table">
												<thead>
													<tr>
														<th style="width: 50px;">発注</th>
														<th></th>
														<th></th>
													</tr>
												</thead>
												<tbody>
													<tr>
														<td>1.</td>
														<td>発注番号</td>
														<td>100000001</td>
													</tr>
													<tr>
														<td>2.</td>
														<td>稼働開始年月</td>
														<td>2021年06月</td>
													</tr>
													<tr>
														<td>3.</td>
														<td>稼働終了年月</td>
														<td>2021年12月</td>
													</tr>
													<tr>
														<td>4.</td>
														<td>発注区分</td>
														<td>区分1</td>
													</tr>
													<tr>
														<td>5.</td>
														<td>発注状態</td>
														<td>発注済</td>
													</tr>
													<tr>
														<td>6.</td>
														<td>注文書送付日</td>
														<td>20210601</td>
													</tr>
													<tr>
														<td>7.</td>
														<td>注文請書回収日</td>
														<td>20210630</td>
													</tr>
													<tr>
														<td>8.</td>
														<td>支払単価（税抜）</td>
														<td>1000000</td>
													</tr>
													<tr>
														<td>9.</td>
														<td>支払精算方法</td>
														<td>精算方法1</td>
													</tr>
													<tr>
														<td>10.</td>
														<td>支払控除基準時間（下限）</td>
														<td>140</td>
													</tr>
													<tr>
														<td>11.</td>
														<td>支払超過基準時間（上限）</td>
														<td>180</td>
													</tr>
													<tr>
														<td>12.</td>
														<td>現場</td>
														<td>新宿1-1-1-101</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
									<div class="col-sm-6">
										<div class="form-group">
											<table class="table oper-table">
												<thead>
													<tr>
														<th width="50px">受注</th>
														<th>（月別稼働実績入力）</th>
														<th></th>
													</tr>
												</thead>
												<tbody>
													<tr>
														<td>1.</td>
														<td>受注番号</td>
														<td>100000001</td>
													</tr>
													<tr>
														<td>2.</td>
														<td>稼働開始年月</td>
														<td>2021年06月</td>
													</tr>
													<tr>
														<td>3.</td>
														<td>稼働終了年月</td>
														<td>2021年012月</td>
													</tr>
													<tr>
														<td>4.</td>
														<td>受注区分</td>
														<td>受注区分1</td>
													</tr>
													<tr>
														<td>5.</td>
														<td>
															契約単価（税抜）
														</td>
														<td>1000000</td>
													</tr>
													<tr>
														<td>6.</td>
														<td>
															精算方法
														</td>
														<td>精算方法1</td>
													</tr>
													<tr>
														<td>7.</td>
														<td>控除基準時間（下限）</td>
														<td>140</td>
													</tr>
													<tr>
														<td>8.</td>
														<td>超過基準時間（上限）</td>
														<td>180</td>
													</tr>
													<tr>
														<td>9.</td>
														<td>社員給与金額</td>
														<td>800000</td>
													</tr>
													<tr>
														<td>10.</td>
														<td>注文請書発送日</td>
														<td>20210601</td>
													</tr>
													<tr>
														<td>11.</td>
														<td>稼働時間</td>
														<td><input class="oper-detail-input" /></td>
													</tr>
													<tr>
														<td>12.</td>
														<td>承認時間</td>
														<td><input class="oper-detail-input" /></td>
													</tr>
													<tr>
														<td>13.</td>
														<td>控除額</td>
														<td><input class="oper-detail-input" /></td>
													</tr>
													<tr>
														<td>14.</td>
														<td>超過額</td>
														<td><input class="oper-detail-input" /></td>
													</tr>
													<tr>
														<td>15.</td>
														<td>その他費用</td>
														<td><input class="oper-detail-input" /></td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
								<div class="text-center" style="margin-bottom: 10px;">
									<button type="submit" class="btn btn-primary">登録</button>
									<a href="operation_list.html" class="btn btn-default">取消</a>
								</div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End Content-->
            </div>
        </div>
    </div>
</body>
</html>