<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Forest OA System</title>
		<link href="/ForestOASystem/Content/Site.css" rel="stylesheet">
		<link href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
		<link href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.2.0/css/bootstrap-theme.min.css" rel="stylesheet">
		<link href="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css"
			rel="stylesheet">
		<link href="/ForestOASystem/Content/font-awesome.css" rel="stylesheet">
		<link href="/ForestOASystem/Content/style_v1.css" rel="stylesheet">
		<link href="/ForestOASystem/Content/ManageReceiveOrder.css" rel="stylesheet">

		<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
		<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script src="https://cdn.bootcss.com/moment.js/2.22.0/moment-with-locales.js"></script>
		<script src="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js">
		</script>

		<script>
			$(function() {
				$('#form1').hide();
				var picker1 = $('#datetimepicker1').datetimepicker({
					format: 'YYYY-MM-DD',
					locale: moment.locale('en'),
					//minDate: '2016-7-1'
				});
				
			});
			$('#datetimepicker1').datetimepicker({
				format: 'YYYY-MM-DD',
				locale: moment.locale('zh-cn'),
				defaultDate: "2018-1-1"
			});
		</script>

	</head>
	<body>
		<!--Start header-->
		<header class="navbar">
			<div class="container-fluid expanded-panel">
				<div class="row">
					<div id="top-panel" class="col-xs-12 col-sm-12">
						<div class="row">
							<div class="col-xs-8 col-sm-2">
								<div class="systemName">Forest OA System</div>
							</div>
							<div class="col-xs-4 col-sm-10 top-panel-right">
								<div class="loginUserName">
									<span>admin</span>
									<i class="icon-angle-down pull-right" style="margin-top: 20px;"></i>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>
		<!--End header-->
		<!--Start Container-->
		<div id="main" class="container-fluid">
			<div class="row">
				<div id="sidebar-left" class="col-xs-2 col-sm-2">
					<ul class="nav main-menu">
						<li>
							<a href="employee_master.html" class="ajax-link">
								<i class="icon-group"></i>
								<span class="hidden-xs">社員マスター</span>
							</a>
						</li>
						<li>
							<a href="customer_master.html" class="ajax-link">
								<i class="icon-tags"></i>
								<span class="hidden-xs">取引先マスター</span>
							</a>
						</li>
						<li>
							<a href="receive_order_list.html" class="ajax-link">
								<i class="icon-pencil"></i>
								<span class="hidden-xs">受注</span>
							</a>
						</li>
						<li>
							<a href="receive_order_bp_list.html" class="ajax-link">
								<i class="icon-pencil"></i>
								<span class="hidden-xs">BP受注</span>
							</a>
						</li>
						<li>
							<a href="send_order_list.html" class="ajax-link">
								<i class="icon-list-alt"></i>
								<span class="hidden-xs">発注</span>
							</a>
						</li>

						<li>
							<a href="operation_list.html" class="ajax-link">
								<i class="icon-th-list"></i>
								<span class="hidden-xs">稼働明細</span>
							</a>
						</li>
					</ul>
				</div>
				<!--Start Content-->
				<div id="content" class="col-xs-12 col-sm-10">
					<div id="ajax-content">

						<div id="datalist-home" data-role="page" class="">
							<div class="panel panel-default">
								<!-- Default panel contents -->
								<div class="panel-heading">
									<i class="icon-pencil"></i> <span id="table-title">BP受注明細一覧</span>
									<div class="titlemenu-area">
										<a href="receive_order_regist.html"><i class="icon-plus"></i>&nbsp;<span class="head-menu">Add</span></a>
									</div>
								</div>
								<div class="panel-body">
									<div class="rec-form-group">
											<div class="" style="float:left">
												<label class="rec-label">年月</label>
											</div>
											<div class='input-group date rec-info-date' id='datetimepicker1'>
												<input type='text' class="timeInput form-control" />
												<span class="input-group-addon">
													<span class="glyphicon glyphicon-calendar"></span>
												</span>
											</div>
									</div>
									<div class="rec-form-group">
											<label class="rec-label">派遣先取引先</label>
											<select class="rec-info-select">
												<option value="0" selected="selected">取引先1</option>
												<option value="1">取引先2</option>
												<option value="2">取引先3</option>
											</select>
									</div>
									<div class="rec-form-group">
											<label class="rec-label">所属</label>
											<select class="rec-info-select">
												<option value="0" selected="selected">所属1</option>
												<option value="1">所属2</option>
												<option value="2">所属3</option>
											</select>
									</div>
									<div class="rec-form-group">
											<label class="rec-label">ソート順</label>
											<input class="rec-info-input" disabled="disabled" value=" 年月 > No. > 氏名" style="background-color:#dddd" />
									</div>
										<div class="text-left">
											<button type="submit" class="btn btn-primary">検索</button>
										</div>
								</div>
								<div class="panel-body-list">
									<div class="col-sm-12 text-center">
											<div class="btn-group">
												<button type="button" class="btn btn-default">継続契約登録</button>
												<button type="button" class="btn btn-default">コピー登録</button>
											</div>
										</div>
									</div>
									<!-- Table -->
									<div class="table-responsive">
										<table id="datalist" class="table text-nowrap">
											<thead>
											<th style="width:50px">選択</th>
											<th>年月</th>
											<th>No.</th>
											<th>氏名</th>
											<th>新規</th>
											<th>継続</th>
											<th>取引先</th>
											<th>現場</th>
											<th>契約単価<br />（税抜）</th>
											<th>その他<br />（税抜）</th>
											<th>その他<br />（税込）</th>
											<th>受注番号</th>
											<th>精算</th>
											<th>精算単位</th>
											<th>受注区分</th>
											<th>注文請書<br />発送日</th>
											<th>メモ1</th>
											<th>所属会社</th>
											<th>単価</th>
											<th>その他<br />費用</th>
											<th>発注番号</th>
											<th>社員給与</th>
											<th>特別精算</th>
											<th>発注区分</th>
											<th>発注状況</th>
											<th>注文書<br />発送日</th>
											<th>所属区分</th>
											<th>PC貸与</th>
											<th>メモ2</th>
											</thead>
											<tbody>
												<tr>
													<td><input type="checkbox"></td>
													<td>2103</td>
													<td>1</td>
													<td>AAA</td>
													<td>5</td>
													<td></td>
													<td>取引先1</td>
													<td>中央区</td>
													<td>50,000,000</td>
													<td>2,000</td>
													<td>2,200</td>
													<td>2103-1001-1</td>
													<td>140h～180h</td>
													<td>0.25h</td>
													<td>区分1</td>
													<td><input class="rec-input" / value="2021/06/01"></td>
													<td>XXXXXXXXXXX</td>
													<td>日立会社</td>
													<td>50,000,000</td>
													<td>3,000</td>
													<td>2103-1001-1</td>
													<td>50,000,000</td>
													<td>特別精算1</td>
													<td>発注区分1</td>
													<td>
														<select class="rec-select">
															<option value="0" selected="selected">状況1</option>
															<option value="1">状況2</option>
															<option value="2">状況3</option>
														</select>
													</td>
													<td><input class="rec-input" / value="2021/06/01"></td>
													<td>所属区分1</td>
													<td>是</td>
													<td>XXXXXXXXX</td>
												</tr>
												<tr>
													<td><input type="checkbox"></td>
													<td>2103</td>
													<td>1</td>
													<td>AAA</td>
													<td>5</td>
													<td></td>
													<td>取引先1</td>
													<td>中央区</td>
													<td>50,000,000</td>
													<td>2,000</td>
													<td>2,200</td>
													<td>2103-1001-1</td>
													<td>140h～180h</td>
													<td>0.25h</td>
													<td>区分1</td>
													<td><input class="rec-input" / value="2021/06/01"></td>
													<td>XXXXXXXXXXX</td>
													<td>日立会社</td>
													<td>50,000,000</td>
													<td>3,000</td>
													<td>2103-1001-1</td>
													<td>50,000,000</td>
													<td>特別精算1</td>
													<td>発注区分1</td>
													<td>
														<select class="rec-select">
															<option value="0" selected="selected">状況1</option>
															<option value="1">状況2</option>
															<option value="2">状況3</option>
														</select>
													</td>
													<td><input class="rec-input" / value="2021/06/01"></td>
													<td>所属区分1</td>
													<td>是</td>
													<td>XXXXXXXXX</td>
												</tr>
												<tr>
													<td><input type="checkbox"></td>
													<td>2103</td>
													<td>1</td>
													<td>AAA</td>
													<td>5</td>
													<td></td>
													<td>取引先1</td>
													<td>中央区</td>
													<td>50,000,000</td>
													<td>2,000</td>
													<td>2,200</td>
													<td>2103-1001-1</td>
													<td>140h～180h</td>
													<td>0.25h</td>
													<td>区分1</td>
													<td><input class="rec-input" / value="2021/06/01"></td>
													<td>XXXXXXXXXXX</td>
													<td>日立会社</td>
													<td>50,000,000</td>
													<td>3,000</td>
													<td>2103-1001-1</td>
													<td>50,000,000</td>
													<td>特別精算1</td>
													<td>発注区分1</td>
													<td>
														<select class="rec-select">
															<option value="0" selected="selected">状況1</option>
															<option value="1">状況2</option>
															<option value="2">状況3</option>
														</select>
													</td>
													<td><input class="rec-input" / value="2021/06/01"></td>
													<td>所属区分1</td>
													<td>是</td>
													<td>XXXXXXXXX</td>
												</tr>
												<tr>
													<td><input type="checkbox"></td>
													<td>2103</td>
													<td>1</td>
													<td>AAA</td>
													<td>5</td>
													<td></td>
													<td>取引先1</td>
													<td>中央区</td>
													<td>50,000,000</td>
													<td>2,000</td>
													<td>2,200</td>
													<td>2103-1001-1</td>
													<td>140h～180h</td>
													<td>0.25h</td>
													<td>区分1</td>
													<td><input class="rec-input" / value="2021/06/01"></td>
													<td>XXXXXXXXXXX</td>
													<td>日立会社</td>
													<td>50,000,000</td>
													<td>3,000</td>
													<td>2103-1001-1</td>
													<td>50,000,000</td>
													<td>特別精算1</td>
													<td>発注区分1</td>
													<td>
														<select class="rec-select">
															<option value="0" selected="selected">状況1</option>
															<option value="1">状況2</option>
															<option value="2">状況3</option>
														</select>
													</td>
													<td><input class="rec-input" / value="2021/06/01"></td>
													<td>所属区分1</td>
													<td>是</td>
													<td>XXXXXXXXX</td>
												</tr>
												<tr>
													<td><input type="checkbox"></td>
													<td>2103</td>
													<td>1</td>
													<td>AAA</td>
													<td>5</td>
													<td></td>
													<td>取引先1</td>
													<td>中央区</td>
													<td>50,000,000</td>
													<td>2,000</td>
													<td>2,200</td>
													<td>2103-1001-1</td>
													<td>140h～180h</td>
													<td>0.25h</td>
													<td>区分1</td>
													<td><input class="rec-input" / value="2021/06/01"></td>
													<td>XXXXXXXXXXX</td>
													<td>日立会社</td>
													<td>50,000,000</td>
													<td>3,000</td>
													<td>2103-1001-1</td>
													<td>50,000,000</td>
													<td>特別精算1</td>
													<td>発注区分1</td>
													<td>
														<select class="rec-select">
															<option value="0" selected="selected">状況1</option>
															<option value="1">状況2</option>
															<option value="2">状況3</option>
														</select>
													</td>
													<td><input class="rec-input" / value="2021/06/01"></td>
													<td>所属区分1</td>
													<td>是</td>
													<td>XXXXXXXXX</td>
												</tr>
											</tbody>
										</table>
									</div>
									<div class=" text-center">
										<ul class="pagination">
											<li><a href="javascript:void(0);">&laquo;</a></li>
											<li><a href="javascript:void(0);">1</a></li>
											<li><a href="javascript:void(0);">2</a></li>
											<li><a href="javascript:void(0);">3</a></li>
											<li><a href="javascript:void(0);">4</a></li>
											<li><a href="javascript:void(0);">5</a></li>
											<li><a href="javascript:void(0);">6</a></li>
											<li><a href="javascript:void(0);">&raquo;</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>

						<!--End Content-->
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
