#filter-area {
	margin-left: 15px;
	margin-right: 15px;
}

#table-title {
	font-weight: bold;
}

#datalist thead {
	background-color: #f5f5f5;
	border-color: #ddd;
}

.panel-heading .titlemenu-area {
	float: right;
}

#delete-dialog .modal-dialog {
	width: 520px;
}

#delete-dialog .modal-dialog .box {
	margin: auto;
}

#delete-dialog .modal-dialog .box .box-content .footer-buttons {
	text-align: right;
	margin-right: 15px;
}

button.cannot-delete {
	display: none;
}

.rec-info-lable {
	margin-left: 20px;
	width: 130px;
}

.rec-select-control {
	display: block;
	width: 300px;
	height: 26px;
	padding: .375rem .75rem;
	margin-left: 20px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.rec-info-select {
	margin-left: 20px;
	width: 182.6px;
	height: 26px;
}

.rec-control {
	width: 300px;
	height: calc(2.25rem + 2px);
	padding: .375rem .75rem;
	font-size: 1.4rem;
	font-weight: 400;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.rec-control.feed-control-border {
	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-radius: 0;
	box-shadow: inherit;
}

.rec-table {
	margin-left: 20px;
	width: 500px;
}

.rec-label {
	font-size: 14px;
	width: 140px;
}

.rec-info-input {
	margin-left: 20px !important;
	height: 26px;
	width: 182px;
}

.rec-info-checkbox {
	margin-left: 20px !important;
}

.rec-info-select {
	margin-left: 20px;
	width: 182px;
	height: 26px
}

.rec-form-group {
	height: 40px;
}

.rec-div-group {
	margin-top: 5px;
	margin-bottom: 5px;
	height: 35px;
}

.rec-info-date {
	margin-left: 24px;
	width: 182px;
	height: 24px;
	float: left
}

textarea,
input,
select {
	border-radius: 0.25rem;
	border: 1px solid #a2a7ab;
	padding: 0.5px 8px;
}

.rec-info-textarea {
	width: 793.8px;
	height: 60px;
	resize: none;
}

.rec-i-but {
	margin-left: 5px;
}

.rec-employee-form {
	border: 1px solid #D6D6D6;
	padding: 10px;
	width: 70%;
	height: 200px;
	margin-left: 24px;
}

.rec-scrollbar {
	overflow: auto;
	height: 140px
}

.rec-employee-group {
	float: left;
	position: relative;
	min-height: 1px;
	padding-left: 15px;
}
